#wrapper,
#admin-wrapper{
width : 956px;
margin : 20px auto;
background: #ffffff;
}
#wrapper-inner {
background: #ffffff;
width:956px;
}
#header #logo-title {
height : 100px;
}
#slogan-search {
height : 40px;
}
#site-slogan {
background : none;
height : 40px;
padding-left : 10px;
}
#content #node-form {
width : 432px;
}
#content #node-form .attachments {
overflow : hidden;
width : 423px;
}
#sidebar-right ul li {
list-style-image:none;
list-style-type : circle;
}
#sidebar-left ul li {
list-style-image:none;
list-style-type : circle;
}
#footer ul li {
list-style-image:none;
list-style-type : circle;
}
#content .block ul li {
list-style-image:none;
list-style-type : circle;
}
#filter-filter-0 ,
#filter-filter-1,
#filter-filter-2,
#filter-filter-3,
#filter-filter-4{
overflow : hidden;
width : 423px;
}
#footer-wrapper #footer-message {
padding-top : 5px;
height : 1%;
}