#logo {
padding-bottom : 10px;
}

#sidebar-right ul li {
list-style-image:none;
list-style-type : circle;
}

#sidebar-left ul li {
list-style-image:none;
list-style-type : circle;
}

#footer ul li {
list-style-image:none;
list-style-type : circle;
}

#content .block ul li {
list-style-image:none;
list-style-type : circle;
}