/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
	font-size: 100.01%;
	background:transparent
}
imput, select, th, td li li, li p, td p, blockquote p { font-size : 1em;}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
body {
font : 62.5% Verdana, Tahoma, Geneva, sans-serif;
background : url("images/background.jpg") center center ;
}
#wrapper,
#admin-wrapper {
width : 956px;
margin : 20px auto;
background: url("images/alternative-background-left.png") repeat-y left top;
}
#wrapper-inner {
background: url("images/alternative-background-right.png") repeat-y right top;
width:100%;
border-top : 1px outset #00E8AE;
border-bottom : 1px outset #00E8AE;
}
h1 {
font : 2em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin : 10px 0 0 10px;
padding : 10px;
color : #000000;
border : 2px solid #00E8AE;
background : #ffffff;
-moz-border-radius : 1em;
-webkit-border-radius : 1em;
border-radius: 1em;
text-align : center;
box-shadow: 2px 2px 5px #999999;
-moz-box-shadow: 2px 2px 5px #000000;  
-webkit-box-shadow: 2px 2px 5px #999999; 
}
h2 {
font : 1.8em Helvetica, "Helvetica Neue", Arial, sans-serif;
line-height : 1.11111111em;
margin-bottom : 1.11111111em;
}
h3, h4, h5, h6 {
font : 1.6em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 1.25em;
line-height : 1.25em;
}
.node pre {
font-size : 1.4em;
margin-bottom : 1.81818182em;
background : #000000;
color : #ffffff;
overflow : auto;
}
.node ol,
.node ul {
font-size : 1.1em;
margin : 0 0 1.81818182em 17.5px;
}
blockquote {
margin-left : 20px;
padding-left : 10px;
border-left : 1px dashed #000000;
}
q {
background : #ffffff;
}
q:before,
q:after {
content:'"';
}
strong {
font-weight : bold;
}
em {
font-style : italic;
}
sub {
vertical-align : sub;
font-size : 0.9em;
}
sup {
vertical-align : super;
font-size : 0.8em;
}
strike, s {
text-decoration:line-through;
}
cite {
font-style : italic;
font-weight : bold;
}
abbr, acronym {
color: #000000; 
text-decoration: none; 
border-bottom: 0;
} 
a:link {color:#3344dd}    
a:visited {color:#804180}  
a:focus {color:#b50010} 
a:hover {color:#b50010}  
a:active {
color:#b50010;
background-color : #E6E6E6;
padding : 0 1px 0 1px;
} 
a.active {
color:#b50010;
background-color : #E6E6E6;
padding : 0 1px 0 1px;
}
#site-name-title {
margin : 0 auto;
width : 350px;
}
#header {
margin : 0 20px 0 20px;
}
#breadcrumb {
margin-top : 10px;
font-size : 1.1em;
}
#logo {
margin : 10px 0 10px 10px;
float : left;
}
#logo img:hover {
opacity: 0.7;
filter: alpha(opacity = 70);
zoom: 1;
cursor:pointer;
}
#logo-title {
margin-top : 10px;
background : url("images/banner-one.jpg") repeat-x top right;
overflow : auto;
}
#slogan-search {
margin : 20px 20px 0 20px;
clear : both;
background : url("images/banner-two.png") repeat-y center center;
position : relative;
min-height : 40px;
}
#search-box {
width : 214px;
margin-right : 20px;
text-align : center;
}
#search-box label {
font : 1.4em Helvetica, "Helvetica Neue", Arial, sans-serif;
color : #ffffff;
margin-left : 1px;
}
#search-box .form-text {
margin-top : 2px;
}
#search-box input {
background : white;
border : 1px solid #00E8AE;
margin-bottom : 2px;
}
#search-box .form-submit:hover {
color : #008262;
cursor : pointer;
}
#site-slogan {
background: url("images/finishing-post.png") no-repeat 0 center;
font : 1.6em Helvetica, "Helvetica Neue", Arial, sans-serif;
color : #ffffff;
font-style : italic;
position : absolute;
top : 0;
left : 234px;
padding-left : 50px;
padding-top : 0.5em;
min-height : 40px;
}
#secondary {
margin-top : 10px;
font : 1.2em Helvetica, "Helvetica Neue", Arial, sans-serif;
clear : both;
text-align : right;
border-left : 5px double #00E8AE;
border-right : 5px double #00E8AE;
}
#navigation {
margin : 20px 20px 0 20px;
font : 1.4em Helvetica, "Helvetica Neue", Arial, sans-serif;
text-align : right;
}
#navigation ul.links {
border-top : 5px double #00E8AE;
border-bottom : 5px double #00E8AE;
padding : 5px 0 5px 0;
}
#container {
margin : 20px 20px 0 20px;
}
#sidebar-left {
width : 214px;
margin : 0 20px 20px 0;
float : left;
}
.block-title {
font : 1.6em Helvetica, "Helvetica Neue", Arial, sans-serif;
background : #008262;
border : 1px solid #00E8AE;
color : #ffffff;
margin-bottom : 1.25em;
line-height : 1.25em;
padding-left : 1px;
-moz-border-radius: 0 10px 0 0;
-webkit-border-top-right-radius : 10px;
}
#content .block-title {
border : 1px solid #ffffff;
}
#sidebar-left .block,
#sidebar-right .block,
#footer .block{
margin-bottom : 20px;
}
#sidebar-left .background-image {
border-top: 1px solid #00E8AE;
border-right : 1px solid #00E8AE;
}
#sidebar-right .background-image {
border-top: 1px solid #00E8AE;
border-bottom: 1px solid #00E8AE;
border-left : 1px solid #00E8AE;
}
#sidebar-right ul li {
list-style-image:url("images/li-image.jpg");
font-size : 1.2em;
margin-bottom: 0.833333335em;
}
#sidebar-left ul li {
list-style-image:url("images/li-image-two.jpg");
font-size : 1.2em;
margin-bottom: 0.833333335em;
}
#footer ul li {
list-style-image:url("images/li-image-two.jpg");
font-size : 1.2em;
margin-bottom: 0.833333335em;
}
#content .block ul li {
list-style-image:url("images/li-image-footer.png");
font-size : 1.2em;
margin-bottom: 0.833333335em;
}
#sidebar-left ul.menu li,
#sidebar-right ul.menu li,
#footer ul.menu li{
font-size : 1.3em;
margin-bottom: 0;
}
#sidebar-left ul.menu li ul li,
#sidebar-right ul.menu li ul li,
#footer ul.menu li ul li{
font-size : 1em;
}
.one-sidebar #main {
width : 682px;
margin : 0 0 20px 0;
float : left;
}
.two-sidebars #main {
width : 448px;
margin : 0 20px 20px 0;
float : left;
}
#mission {
width : 661px;
float : right;
font-size : 1.2em;
padding : 10px;
margin-bottom : 20px;
background : #008262 url("images/mission-background.jpg") no-repeat center right;
border-top : 1px solid #00E8AE;
border-left : 1px solid #00E8AE;
color : white;
padding : 10px;
-moz-border-radius: 0 20px 0 15px;
-webkit-border-top-left-radius : 0;
-webkit-border-top-right-radius : 20px;
-webkit-border-bottom-left-radius : 15px;
-webkit-border-bottom-right-radius : 0;
}
#mission a {
color : #ffffff;
}
#main a:link {
color : #008262;
}
#main a:visited {
color : #826100;
}
#main a:focus {
background-color : white;
color : #008262;
} 
#main a:hover {
background-color : white;
color : #008262;
}  
#main a:active {
background-color : white;
color : #008262;
} 
#main .node .links {
font-size : 1.1em;
}
#main .node .meta .terms ul.links {
display : inline;
float : right;
margin : 10px 0 10px 10px;
text-align : right;
}
#main .node .meta  {
margin-bottom : 10px;
}
.meta .terms ul.links li + li {
border-left:1px solid #000;
}
.front .node > ul.links li ,
.page-taxonomy .node > ul.links li,
.page-blog .node > ul.links li{
margin-left : 20px;
line-height : 1.81818182em;
display : block;
float : left;
}
.front .node p:last-child,
.page-taxonomy .node p:last-child,
.page-blog .node p:last-child {
padding-bottom : 1.81818182em;
}
.node-title  {
font : 1.6em Helvetica, "Helvetica Neue", Arial, sans-serif;
line-height : 1.25em;
}
#main .node img {
float : left;
margin-right : 5px;
}
#main .meta a:link {
color : #008262;
}
#main .meta a:visited {
color : #826100;
}
#main .meta a:focus {
background-color : #008262;
color : white;
} 
#main .meta a:hover {
background-color : #008262;
color : white;
}  
#main .meta a:active {
background-color : #008262;
color : white;
} 
.front #main .node {
margin-bottom : 1.81818182em;
padding-bottom : 1.81818182em;
background : url("images/node-background.png") repeat-x bottom right;
}
.front #main .node .meta {
margin-top : 1.25em;
}
.front #main .node .meta .submitted {
font-size : 1.1em;
}
.front .node .content {
margin-bottom : 1.81818182em;
clear : both;
}
.front .node .content p {
font-size : 1.1em;
line-height : 1.81818182em;
margin-bottom : 1.81818182em;
}
.taxonomy-term-description {
font-size : 1.3em;
}
.page-taxonomy #main .node {
margin-bottom : 1.81818182em;
padding-bottom : 1.81818182em;
background : url("images/node-background.png") repeat-x bottom right;
}
.page-taxonomy #main .node .meta {
margin-top : 1.25em;
}
.page-taxonomy #main .node .meta .submitted {
font-size : 1.1em;
}
.page-taxonomy .node .content {
margin-bottom : 1.81818182em;
clear : both;
}
.page-taxonomy .node .content p {
font-size : 1.1em;
}
.page-blog #main .node {
margin-bottom : 1.81818182em;
padding-bottom : 1.81818182em;
background : url("images/node-background.png") repeat-x bottom right;
}
.page-blog #main .node .meta {
margin-top : 1.25em;
}
.page-blog #main .node .meta .submitted {
font-size : 1.1em;
}
.page-blog .node .content {
margin-bottom : 1.81818182em;
clear : both;
}
.page-blog .node .content p {
font-size : 1.1em;
}
.not-front #main .node {
margin-bottom : 1.81818182em;
padding-bottom : 1.81818182em;
border-bottom : 1px solid #00E8AE;
}
.not-front #main .node .meta {
margin-top : 1.25em;
}
.not-front #main .node .meta .submitted {
font-size : 1.1em;
}
.not-front .node .content {
margin-bottom : 1.81818182em;
clear : both;
}
.not-front .node .content p {
font-size : 1.1em;
line-height : 1.81818182em;
margin-bottom : 1.81818182em;
}

/* Comments node section */

#comments {
font-size : 1.1em;
}
#comments .content {
background : url("images/comment-background.png") repeat-x bottom center;
padding-bottom : 1.81818182em;
margin-bottom : 1.81818182em;
}
#comments p {
margin-bottom : 1.81818182em;
line-height : 1.81818182em;
}
#comments .comment-title,
#comments .submitted,
#comments .links{
font-size : 1.1em;
margin-bottom : 1.66666667em;
}
#comments .submitted {
margin-top : 1.66666667em;
}

/* Comment form */

#comment-form {
font-size : 1.1em;
line-height : 1.81818182em;
}
#comment-form label {
font-weight : normal;
font-style : italic;
}
#comment-form .form-submit {
background : white;
margin-top : 10px;
border : 1px solid #00E8AE;
}
#comment-form .form-submit:hover {
background : #008262;
color : #ffffff;
border : 1px solid #ffffff;
cursor : pointer;
}
#comment-form ul {
margin-left : 20px;
}
#comment-form ul li {
font-size : 1.3em ;
}
#sidebar-right {
width: 214px;
margin-bottom : 20px;
float : left;
}

/* Rounded corners */

/***** Secondary Box *****/
#secondary .cB, #secondary .cBw { background:url(images/fb_leftright-green.png) top right; }
#secondary .cBt, #secondary .cBt div, #secondary .cBb, #secondary .cBb div { background:url(images/fb_topbottom-green.png) top right; }
#secondary .cB {
	padding:0 15px 0 0;
	position:relative; /* fix IE/win buggy bg display */
}
#secondary .cBw {
	background-position:top left;
	padding-left:10px;
}
#secondary .cBt, #secondary .cBb {
	margin:0 -15px 0 -10px; /* push into rB and rBw padding */
	height:23px; /* fix IE/win bug when rB width set */
}
#secondary .cBt div, #secondary .cBb div { width:20px; height:23px; }
#secondary .cBt div { background-position:top left; }
#secondary .cBb, #secondary .cBb div { height:25px; }
#secondary .cBb { background-position:bottom right; }
#secondary .cBb div { background-position:bottom left; }
/***** end Secondary box *****/

/***** Primary Box *****/
#primary .cB, #primary .cBw { background:url(images/fb_leftright-green.png) top right; }
#primary .cBt, #primary .cBt div, #primary .cBb, #primary .cBb div { background:url(images/fb_topbottom-green.png) top right; }
#primary .cB {
	padding:0 15px 0 0;
	position:relative; /* fix IE/win buggy bg display */
}
#primary .cBw {
	background-position:top left;
	padding-left:10px;
}
#primary .cBt, #primary .cBb {
	margin:0 -15px 0 -10px; /* push into rB and rBw padding */
	height:23px; /* fix IE/win bug when rB width set */
}
#primary .cBt div, #primary .cBb div { width:20px; height:23px; }
#primary .cBt div { background-position:top left; }
#primary .cBb, #primary .cBb div { height:25px; }
#primary .cBb { background-position:bottom right; }
#primary .cBb div { background-position:bottom left; }
/***** end Primary box *****/

/***** Front Content Box *****/
#content .cB, #content .cBw { background:url(images/fb_leftright-grey.png) top right; }
#content .cBt, #content .cBt div, #content .cBb, #content .cBb div { background:url(images/fb_topbottom-grey.png) top right; }
#content .cB {
	padding:0 15px 0 0;
	position:relative; /* fix IE/win buggy bg display */
}
#content .cBw {
	background-position:top left;
	padding-left:10px;
}
#content .cBt, #content .cBb {
	margin:0 -15px 0 -10px; /* push into rB and rBw padding */
	height:23px; /* fix IE/win bug when rB width set */
}
#content .cBt div, #content .cBb div { width:20px; height:23px; }
#content .cBt div { background-position:top left; }
#content .cBb, #content .cBb div { height:25px; }
#content .cBb { background-position:bottom right; }
 #content .cBb div { background-position:bottom left; }
/***** End Content Box *****/

/***** Upper Front page module *****/
.block .cB, .block .cBw { background:url(images/fb_leftright-lightgreen.png) top right; }
.block .cBt, .block .cBt div, .block .cBb, .block .cBb div { background:url(images/fb_topbottom-lightgreen.png) top right; }
.block .cB {
	padding:0 15px 0 0;
	position:relative; /* fix IE/win buggy bg display */
}
.block .cBw {
	background-position:top left;
	padding-left:10px;
}
.block .cBt, .block .cBb {
	margin:0 -15px 0 -10px; /* push into rB and rBw padding */
	height:23px; /* fix IE/win bug when rB width set */
}
.block .cBt div, .block .cBb div { width:20px; height:23px; }
.block .cBt div { background-position:top left; }
.block .cBb, .block .cBb div { height:25px; }
.block .cBb { background-position:bottom right; }
.block .cBb div { background-position:bottom left; }
/***** end Upper front-page module *****/

*:first-child+html .block .cB, *:first-child+html .block .cBw {
height : 1%;
}

/* Styling for Drupal attachments section */

#attachments {
font-size : 1.2em;
}
#attachments th {
font : 1.2em Helvetica, "Helvetica Neue", Arial, sans-serif;
}
#attachments tbody {
border : 5px groove #00E8AE;
background : #00E8AE;
}
#attachments td {
padding: 5px 2px 5px 2px;
}
#attachments .odd {
border-bottom : 1px solid black;
background : white;
padding-bottom : 5px;
}
#attachments .even {
border-bottom : 1px solid black;
}
#attachments .even a {
background-color : #ffffff!important;
}

/* PDF file extension 

.pdf

*/

#attachments a[href$='.pdf'] {
  padding-right: 25px;
  background: url("icon-images/application-pdf.png") no-repeat right;
}

/* Audio file extensions 

.aac, .cda, .fla, .flac, .m3u, .mp4, .m4a, .m4p, .mp3, .ogg, .wma, .wmv

*/

#attachments a[href$='.aac'], #attachments a[href$='.cda'], #attachments a[href$='.fla'], #attachments a[href$='.flac'], #attachments a[href$='.m3u'], #attachments a[href$='.mp4'], #attachments a[href$='.m4a'], #attachments a[href$='.m4p'], #attachments a[href$='.mp3'], #attachments a[href$='.ogg'], #attachments a[href$='.wma'], #attachments a[href$='.wmv']{
  padding-right: 25px;
  background: url("icon-images/audio-x.png") no-repeat right;
}

/* HTML file extensions 

.htm, .html

*/

#attachments a[href$='.html'], #attachments a[href$='.htm'] {
  padding-right: 25px;
  background: url("icon-images/text-html.png") no-repeat right;
}

/* Text file extensions 

.text, .txt, .info

*/

#attachments a[href$='.txt'], #attachments a[href$='.text'], #attachments a[href$='.info'] {
  padding-right: 25px;
  background: url("icon-images/text-plain.png") no-repeat right;
}

/* Video file extensions 

.avi, .m4v, .mov, .mp4, .mpg, 

*/

#attachments a[href$='.avi'], #attachments a[href$='.m4v'], #attachments a[href$='.mov'], #attachments a[href$='.mp4'], #attachments a[href$='.mpg'] {
  padding-right: 25px;
  background: url("icon-images/video-x-generic.png") no-repeat right;
}

/* Document file extensions

.doc, .dotm, .dotx, .sxw

*/

#attachments a[href$='.doc'], #attachments a[href$='.dotm'], #attachments a[href$='.dotx'], #attachments a[href$='.sxw'] {
  padding-right: 25px;
  background: url("icon-images/x-office-document.png") no-repeat right;
}

/* Presentation file extensions

.potx, .pps, .ppsm, .ppsx, .ppt, .pptm, .pptx

*/

#attachments a[href$='.potx'], #attachments a[href$='.pps'], #attachments a[href$='.ppsx'], #attachments a[href$='.ppt'], #attachments a[href$='.pptm'], #attachments a[href$='.pptx'] {
  padding-right: 25px;
  background: url("icon-images/x-office-presentation.png") no-repeat right;
}


/* Spreadsheet file extensions

.ods, .scx, .xls, .xlsm, .xlsx

*/

#attachments a[href$='.ods'], #attachments a[href$='.scx'], #attachments a[href$='.xls'], #attachments a[href$='.xlsm'], #attachments a[href$='.xlsx'] {
  padding-right: 25px;
  background: url("icon-images/text-x-script.png") no-repeat right;
}

/* Script file extensions

.asp, .aspx, .css, .inc, .ini, .js, .json, .lib, .php, .php3, .rc, 

*/

#attachments a[href$='.asp'], #attachments a[href$='.aspx'], #attachments a[href$='.css'], #attachments a[href$='.ini'], #attachments a[href$='.inc'],
#attachments a[href$='.js'], #attachments a[href$='.json'], #attachments a[href$='.lib'], #attachments a[href$='.php'], #attachments a[href$='.php3'] , #attachments a[href$='.rc']{
  padding-right: 25px;
  background: url("icon-images/x-office-spreadsheet.png") no-repeat right;
}

/* Compressed file extensions

.7z, .7zip, .ace, .arj, .gz, .rar, .zix, .zip

*/

#attachments a[href$='.7z'], #attachments a[href$='.7zip'], #attachments a[href$='.ace'], #attachments a[href$='.arj'], #attachments a[href$='.gz'], #attachments a[href$='.zix'], #attachments a[href$='.zip'] {
  padding-right: 25px;
  background: url("icon-images/text-x-generic.png") no-repeat right;
}

/* Graphics file extensions

.bmp, .eps, .gif, .ico, .iff, .png, .jpeg, .jpg, .svg, 

*/

#attachments a[href$='.bmp'], #attachments a[href$='.esp'], #attachments a[href$='.gif'], #attachments a[href$='.iff'], #attachments a[href$='.png'], #attachments a[href$='.jpeg'], #attachments a[href$='.jpg'], #attachments a[href$='.svg'] {
  padding-right: 25px;
  background: #ffffff url("icon-images/image-x-generic.png") no-repeat right;
}

/* Modules */

#search-block-form {
text-align : center;
}
#search-block-form label {
font : 1.4em Helvetica, "Helvetica Neue", Arial, sans-serif;
color : #000000;
margin-left : 1px;
}
#search-block-form .form-text {
margin-top : 2px;
}
#search-block-form input {
background : white;
border : 1px solid #00E8AE;
margin-bottom : 2px;
}
#search-block-form .form-submit:hover {
color : #008262;
cursor : pointer;
}

/* Search form */

#search-form {
font-size : 1.2em;
}
#search-form label {
font-weight : normal;
font-style : italic;
}
#search-form .form-submit {
background : white;
border : 1px solid #00E8AE;
margin-bottom : 2px;
}
p.box-title {
font : 1.6em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 1.25em;
line-height : 1.25em;
}
.box .title{
font : 1.3em Helvetica, "Helvetica Neue", Arial, sans-serif;
margin-bottom : 1.53846154em;
line-height : 1.53846154em;
}
.poll .title,
.poll .total{
font-size : 1em;
margin-bottom : 1.66666667em;
}
.box ul li {
font-size : 1.1em;
margin-left : 17.5px;
margin-bottom : 1.81818182em;
}
.search-snippet {
font-size : 1.1em;
margin-bottom : 1.53846154em;
border : 1px dashed black;
padding : 2px;
}

/* Compose tips 
The HTML markup for this Drupal page is appalling
*/

#content ul .tips {
list-style-type : none;
}
#filter-filter-0 ,
#filter-filter-1,
#filter-filter-2,
#filter-filter-3,
#filter-filter-4{
overflow : auto;
font-size : 1.2em;
margin-bottom : 1.66666667em;
line-height : 1.66666667em;
}
#filter-filter-0 code {
font-size : 1.2em;
}
#main #main-squeeze #content #content-content ul {
margin-left : 20px;
}
#main #main-squeeze #content #content-content ul li strong {
font-size : 1.2em;
margin-bottom : 1.66666667em;
line-height : 1.66666667em;
}
/* Node edit form */

#node-form label,
#node-form select{
font-size : 1.2em;
line-height : 1.66666667em;
margin-bottom : 10px;
}
#node-form .collapsed a{
font-size : 1.4em;
line-height : 1.66666667em;
margin-bottom : 10px;
}
#node-form .collapsible,
#node-form .collapsible a{
font-size : 1.1em;
margin-bottom : 10px;
}
#node-form .form-radio,
#node-form .form-checkbox{
border : none;
}
#node-form label {
font-weight : normal;
font-style: italic;
padding-left : 3px;
margin-bottom : 5px;
}
#node-form .description {
font-size : 1.2em;
line-height : 1.66666667em;
}
#content .node-type-list {
font-size : 1.2em;
line-height : 1.66666667em;
}
#node-form .attachments {
overflow : auto;
margin-bottom : 1.66666667em;
}

/* Tracker */

#tracker {
font-size : 1.1em;
line-height : 1.81818182em;
}
#tracker table {
background-color : #ffffff;
}

/* Log-in form*/

#user-login-form  {
text-align : center;
}
#user-login-form label {
font : 1.2em Verdana, Tahoma, Geneva, sans-serif;
font-style: italic;
margin-bottom : 1px;
}
#user-login-form 
#user-login-form .form-submit {
margin-bottom : 1em;
}
#user-login-form ul li {
list-style-type : square;
font-size : 1.1em;
}
#user-login-form input {
background : white;
border : 1px solid #00E8AE;
margin-bottom : 2px;
}
#user-login-form .form-submit {
padding : 1px;
margin-bottom : 5px;
}
#user-login-form .form-submit:hover {
background : #008262;
color : #ffffff;
padding : 2px;
cursor : pointer;
}

/* user profile form */

#user-profile-form .description,
#user-profile-form label,
#user-profile-form legend,
#user-profile-form th,
#user-profile-form select{
font-size : 1.2em;
line-height : 1.66666667em;
font-weight : normal;
}


/* forum */

#forum table{
font-size : 1.3em;
width : 100%;
}
.forum-topic-navigation {
margin-top :  1.66666667em;
font-size : 1em;
}

/* Poll */

.poll {
font-size : 1.2em;
}

/* User register */

#user-register {
font-size : 1.2em;
line-height : 1.66666667em;
}
#user-register label {
font-weight : normal;
font-style: italic;
padding-left : 3px;
margin-bottom : 5px;
}
#user-register .form-submit {
background : white;
border : 1px solid #00E8AE;
}
#user-register .form-submit:hover {
background : #008262;
border : 1px solid #ffffff;
color : #ffffff;
cursor : pointer;
}

/* User login */

#user-login {
font-size : 1.2em;
line-height : 1.66666667em;
}
#user-login label {
font-weight : normal;
font-style: italic;
padding-left : 3px;
margin-bottom : 5px;
}
#user-login .form-submit {
background : white;
border : 1px solid #00E8AE;
}
#user-login .form-submit:hover {
background : #008262;
border : 1px solid #ffffff;
color : #ffffff;
cursor : pointer;
}

/* Request new password */

#user-pass {
font-size : 1.2em;
line-height : 1.66666667em;
}
#user-pass label {
font-weight : normal;
font-style: italic;
padding-left : 3px;
margin-bottom : 5px;
}
#user-pass .form-submit {
background : white;
border : 1px solid #00E8AE;
}
#user-pass .form-submit:hover {
background : #008262;
border : 1px solid #ffffff;
color : #ffffff;
cursor : pointer;
}

/* Contact mail page */

#contact-mail-page {
font-size : 1.2em;
line-height : 1.66666667em;
}
#contact-mail-page label {
font-style : italic;
font-weight : normal;
}
#contact-mail-page .form-submit {
background : white;
border : 1px solid #00E8AE;
}
#contact-mail-page .form-submit:hover {
background : #008262;
border : 1px solid #ffffff;
color : #ffffff;
cursor : pointer;
}


/* Contact mail user */

#contact-mail-user {
font-size : 1.2em;
line-height : 1.66666667em;
}
#contact-mail-user label {
font-style : italic;
font-weight : normal;
}
#contact-mail-user .form-submit {
background : white;
border : 1px solid #00E8AE;
}
#contact-mail-user .form-submit:hover {
background : #008262;
border : 1px solid #ffffff;
color : #ffffff;
cursor : pointer;
}

/* Universal */
input[type=text]:hover {  
background-color:yellow;  
border-color:#414344;  
} 
input[type=password]:hover {  
background-color:yellow;  
border-color:#414344;  
} 
#content .tabs a {
font-size : 1.2em;
line-height : 1.66666667em;
}
.messages {
margin : 20px 0 20px 0;
padding : 5px;
text-align : center;
font-size : 1.4em;
color : black;
border : 1px solid #FFA500;
}
#content .profile {
font-size : 1.2em;
line-height : 1.66666667em;
}
.more-link {
font-size : 1.2em;
}

/* Pagination */

.pager {
font-size : 1.1em;
}
#footer-wrapper {
margin : 0 20px 0 20px;
clear : both;
}
#footer-text {
padding : 5px;
margin : 10px;
background : #008262;
border : 1px solid #00E8AE;
color : white;
text-align : center;
-moz-border-radius: 0 20px 0 20px;
-webkit-border-top-left-radius : 0;
-webkit-border-top-right-radius : 20px;
-webkit-border-bottom-left-radius : 20px;
-webkit-border-bottom-right-radius : 0;
}
#footer-text a{
color : #ffffff;
}
#footer-message {
background : url("images/banner-one.jpg") repeat-x center right;
margin-bottom : 20px;
padding : 10px 0 10px 10px;
font-size : 1.1em;
min-height : 40px;
clear : both;
}
.no-footer-right #footer-one{
width : 682px;
margin : 0 0 20px 0;
float : left;
}
.has-footer-right #footer-one {
width : 448px;
margin : 0 20px 20px 0;
float : left;
}
#footer-two {
width : 448px;
margin-bottom : 20px;
float : left;
}
#designer {
width : 400px;
margin : 0 auto;
text-align : center;
opacity: .9;
filter: alpha(opacity = 90);
clear : both;
}
#designer p {
font-size : 1.1em;
padding : 2px 0 2px 0;
margin : 20px;
background : white;
}

/* Administration section */

#switchtheme-switch-form {
font-size : 1.3em;
text-align : center;
}
#switchtheme-submit,
#edit-theme  {
background : white;
border : 1px solid #00E8AE;
}
#first-time  {
font-size : 1.2em;
line-height : 1.66666667em;
margin-left : 20px;
}
#admin-wrapper #container #main{
font-size : 1.2em;
line-height : 1.66666667em;
}
#admin-wrapper #container #main .help {
font-size : 1em;
}
#admin-wrapper #container #main .description {
font-size : 1em;
}
#admin-wrapper #container #main .block {
font-size : 1em;
}